<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> Alluarjun</h1>

       <%= image_tag "kk.jpg", class: "width=200" "height=200" %>
        <%= image_tag "om1.jpg", class: "width=200" "height=200" %>
        <%= image_tag "om2.jpg", class: "width=200" "height=200" %>
        <%= image_tag "om3.jpg", class: "width=200" "height=200" %>

</body>
</html>s