
<h1><%= link_to 'Home', root_path -%></h1>
<h1><%= link_to "Project Page", prj4_path %></h1>
<html>
<body style="background-color:lightblue;" >
<h4 algin="right">Register No.1300542012</h4><br>
<h1><marquee>Serial No.0080894</marquee></h1>
  <center><h1> <mark>Dr.B.R.AMBEDKAR UNIVERSITY,SRIKAKULAM</mark></h1>
  <i><b><u>PROVISIONAL CERTIFICATE</u></b></i></center>
   <h2>&nbsp;&nbsp;&nbsp;This is to certify that <b>Mr.CHINTHA OMESWARARAO S/O CHINTHA BHASKARARAO</b> has quaified himself for the degree of Bachlor of Science in the University having been declared to have passed the Examination prescribed therefor as follows and that He has done all that is necessary for formal presentation for the B.S.C.degree.</h2>
<head>
<style>
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 30px;
  text-align:right;
}
.city {
  background-color: tomato;
  color: white;
  padding: 500px;
} 
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
body{
	border:30px solid tomato;
    padding:30px;
}
}
</style>
</head>
<body>
<table th,tr>
	<tr>
	    <th>MONTH &YEAR</th>
	    <th>SUBJECTS</th>
	    <th>CGPA</th>
	    <th>CLLASS</th></tr>
	<tr>
		<td>MARCH 2019</td>
		<td>TELLUGU</td>
		<td>6.26</td>
		<td>SECOND</td></tr>
    <tr>
    	<td></td>
    	<td>SECOND LANGUAGES</td>
    	<td></td>
    	<td>CLASSFICATION OF SUCCESSFUL CANDIDATES :</td></tr>
    <tr>
    	<td></td>
    	<td>OPTIONAL SUBJECTS:</td>
    	<td>C.G.P.A </td>
        <td>CUMULLATIVE CRADE POINT AVERAGE</td></tr>
    <tr>
    	<td></td>
    	<td>MATHEMATICS</td>
    	<td>FIRST CLASS</td>
    	<td>6.5 AND ABOVE</td></tr>
    <tr>
    	<td></td>
    	<td>PHYSICS</td>
    	<td>SECOND CLASS</td>
    	<td>5.5 AND ABOVE BUT LESS THAN 6.5</td></tr>
    <tr>
    	<td></td>
    	<td>COMPUTERE -SCIENCE</td>
    	<td>SECOND</td>
    	<td>5.5 AND ABOVE BUT THIS LESS THAN 6.5</td></tr>
</table>
  </body>
  <h5 align="right">s.bhaskararao<br>CONTROLLER OF EXAMINATIONS<br>S.B.S.ym degree collage</h5>
</body></html>
</html>